kaggle-data/*
*ckpts*
*onnx-model*
experiments/smp-ensemble/onnx-files/*
experiments/yolo/yolov8-vanilla/datasets/*
*datasets*
*.pt*
*.pth*
*.tif*
experiments/mask-rcnn/mask-rcnn/train/*
experiments/mask-rcnn/new-dataset/*